*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: aqua;
}

nav div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    transition: 0.4s ease;
}

nav ul li a:hover{
    color: rgb(122, 121, 121);
}